{%extends 'store/base.html'%}

{%block main_block%}




<div class="mx-auto my-4 max-w-6xl px-2 md:my-6 md:px-0"></div>

{%if orders%}

<center>
  <h2 class="text-3xl font-bold">My Order Details</h2>

</center>

<div class="mt-3 text-sm">

</div>

{%for o in orders%}

<div class="mt-8 flex flex-col overflow-hidden rounded-lg border border-gray-300 md:flex-row">
  <div class="w-full border-r border-gray-300 bg-gray-100 md:max-w-xs">
    <div class="p-8">
      <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-1">
        <div class="mb-4">
          <div class="text-sm font-semibold">Order ID</div>
          <div class="text-sm font-medium text-gray-1000">{{o.order_id}}</div>
        </div>
        <div class="mb-4">
          <div class="text-sm font-semibold">Date</div>
          <div class="text-sm font-medium text-gray-1000">{{o.created_date}}</div>
        </div>
        <div class="mb-4">
          <div class="text-sm font-semibold">Total Amount</div>
          <div class="text-sm font-medium text-gray-700">₹{{o.total}}</div>
        </div>
        <div class="mb-4">
          <div class="text-sm font-semibold">Delivery Address</div>
          <div class="text-sm font-medium text-gray-700">₹{{o.delivery_address}}</div>
        </div>
       
        <div class="mb-4">
          <div class="text-sm font-semibold">Order Status</div>
          <div class="text-sm font-medium text-gray-700">
            {%if o.is_paid%}

            <b> paymet complete </b>

            {%else%}

            <b> payment pending </b>

            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <div class="p-8">
      <ul class="-my-7 divide-y divide-gray-200">
        {%for pv in o.productvarient_object.all%}

        <li class="flex flex-col justify-between space-x-5 py-7 md:flex-row">
          <div class="flex flex-1 items-stretch">
            <div class="flex-shrink-0">
              <img class="h-40 w-40 rounded-lg border border-gray-200 object-contain"
                src="{{pv.product_object.product_pic.url}}" alt="" />
            </div>
            <div class="ml-5 flex flex-col justify-between">
              <div class="flex-1">
                <p class="text-sm font-bold text-gray-900">
                  {{pv.product_object.product_name}}
                </p>
                <p class="mt-1.5 text-sm font-medium text-gray-700">{{pv.product_object.description}}</p>
                <p class="mt-1.5 text-sm font-medium text-3xl font-bold"><b>Quantity: {{pv.product_quantity}}</b></p>
                <br>
                <a type="button"
                  class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                  href="{%url 'review-add' pv.id %}">

                  Add Review
                </a>
              </div>
              <p class="mt-4 text-sm font-medium text-gray-500">
                <!-- {%if o.is_paid%}



                      {%endif%} -->
              </p>
            </div>
          </div>
          <div class="ml-auto flex flex-col items-end justify-between">
            <p class="text-right text-sm font-bold text-gray-900">₹{{pv.price}}</p>
          </div>
        </li>


        {%endfor%}

      </ul>
      <hr class="my-8 border-t border-t-gray-200" />
      <div class="space-x-4">
        
        <a href="" type="button"
          class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
          View Invoice
        </a>
        
        <a href="{%url 'product-list'%}" type="button"
          class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
          Back To Shopping
        </a>
      </div>
    </div>
  </div>
</div>



{%endfor%}


{%else%}

<center>

  <h2 class="text-3xl font-bold">No Orders In MyCart</h2>

  <div class="flex justify-end space-x-4">
    <a href="{%url 'product-list'%}" type="button"
      class="rounded-md border border-black px-5 py-3 text-sm font-bold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black md:mx-12 md:my-8">
      Back to shop
    </a>




</center>

{%endif%}

</div>


{%endblock%}