{%extends 'store/base.html'%}

{%block main_block%}



    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 align-center">Products</h2>

        <div class="mt-6 grid grid-cols-3 gap-x-6 gap-y-10 sm:grid-cols-3 lg:grid-cols-3 xl:gap-x-8">
            {% for p in products %}
            <div class="group relative">
                <div
                    class="flex justify-center items-center w-30 h-60 rounded overflow-hidden border border-2 border-black">
                    <img src="{{p.product_pic.url}}" alt="Watch Image"
                        class="h-full w-auto object-cover">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-900">
                            <a href="">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{p.product_name}}
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">{{p.description}}</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">₹{{p.price }}</p>
                    <p class="text-sm font-medium text-gray-900">Quantity:{{p.product_quantity}}</p>
                </div>
                <a href="" class="block text-center rounded-sm bg-black px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                    View More
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


   


  





{%endblock%}