{%extends 'store/base.html'%}

{%block main_block%}

<br>
<h2 class="text-center text-green-800">Put Your Delivery Address Here!</h2>
<!-- <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="card mb-3 border border-3 shadow rounded-md" style="width: 700px; height:620px">

        <div class="row">
            <div class="col-md-">
                <div class="card-body">
                   >
                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="container">
    <div class="row">

        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="p-4">
                <center>
                    Add Your Review Here
            </h1>
            <form action="" method="post" >
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary" type="submit">Continue</button>
            </form
            </center>
           
        </div>
        <div class="col-3"></div>
        
      
    </div>
</div>




{%endblock%}


