{%extends 'store/base.html'%}

{%block main_block%}


<center>

    <h2 class="text-3xl font-bold">Your Order Successfuly Completed</h2>

  <div class="flex justify-end space-x-4">
    <a
      href="{%url 'product-list'%}"
      type="button"
      class="rounded-md border border-black px-5 py-3 text-sm font-bold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black md:mx-12 md:my-8"
    >
      Back to shop
    </a>




</center>





{%endblock%}